.custom-bg-secondary {
    background-color: #2c3e50 !important;
}

.custom-bg-primary {
    background-color: #1abc9c !important;
}


.copyright {
    background-color: #1a252f;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar-img {
    width: 150%;
    height: auto;
    display: block;
}
.admin-panel {
    height: 100vh; /* Chiều cao toàn màn hình */
    background-color: #f8f9fa; /* Màu nền nhạt */
  }

  .admin-header {
    padding: 20px;
    background-color: #343a40; /* Màu nền tối */
    color: white;
    text-align: center;
    font-size: 24px;
  }

  .admin-sidebar {
    padding: 20px;
  }

  .content {
    padding: 20px;
  }

  /* Ẩn tất cả các section, chỉ hiện section được chọn */
  .section {
    display: none;
  }

  /* Mặc định hiển thị Dashboard khi load */
  .section.active {
    display: block;
  }